@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    local("ROsanswebtextregular"),
    url("ROsanswebtextregular.woff") format("woff"),
    url("ROsanswebtextregular.eot") format("embedded-opentype"),
    url("ROsanswebtextregular.ttf") format("truetype");
  font-family: "RijksoverheidSansWebText";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    local("ROsanswebtextbold"),
    url("ROsanswebtextbold.woff") format("woff"),
    url("ROsanswebtextbold.eot") format("embedded-opentype"),
    url("ROsanswebtextbold.ttf") format("truetype");
  font-family: "RijksoverheidSansWebText";
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src:
    local("ROsanswebtextitalic"),
    url("ROsanswebtextitalic.woff") format("woff"),
    url("ROsanswebtextitalic.eot") format("embedded-opentype"),
    url("ROsanswebtextitalic.ttf") format("truetype");
  font-family: "RijksoverheidSansWebText";
}

@font-face {
  font-style: normal;
  font-weight: 400;
  src:
    local("ROserifwebregular"),
    url("ROserifwebregular.woff") format("woff"),
    url("ROserifwebregular.eot") format("embedded-opentype"),
    url("ROserifwebregular.ttf") format("truetype");
  font-family: "RijksoverheidSerifWeb";
}

@font-face {
  font-style: normal;
  font-weight: 700;
  src:
    local("ROserifwebbold"),
    url("ROserifwebbold.woff") format("woff"),
    url("ROserifwebbold.eot") format("embedded-opentype"),
    url("ROserifwebbold.ttf") format("truetype");
  font-family: "RijksoverheidSerifWeb";
}

@font-face {
  font-style: italic;
  font-weight: 400;
  src:
    local("ROserifwebitalic"),
    url("ROserifwebitalic.woff") format("woff"),
    url("ROserifwebitalic.eot") format("embedded-opentype"),
    url("ROserifwebitalic.ttf") format("truetype");
  font-family: "RijksoverheidSerifWeb";
}
