/* stylelint-disable selector-class-pattern */
.lux-icon--eherkenning .e {
  fill: var(--lux-icon-eherkenning-color-e);
}

.lux-icon--eidas .line {
  fill: var(--lux-icon-eidas-color-lines);
}

.lux-icon--eidas .star {
  fill: var(--lux-icon-eidas-color-stars);
}

.lux-icon--eidas .background {
  fill: var(--lux-icon-eidas-color-background);
}

.lux-icon--eidas .lock {
  fill: var(--lux-icon-eidas-color-lock);
}
/* stylelint-enable selector-class-pattern */
