@import "../../styles/sr-only";

:host {
  display: contents;
  appearance: button;
}

:host([hidden]) {
  display: none !important;
}

.lux-button-login {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  gap: var(--lux-button-login-margin-inline);
  appearance: button;
  margin-inline: 0;
  margin-block: 0;
  border-width: var(--lux-button-login-border-width);
  border-style: var(--lux-button-login-border-style);
  border-color: var(--lux-button-login-border-color);
  border-radius: var(--lux-button-login-border-radius);
  background-color: var(--lux-button-login-background-color);
  padding-inline-start: var(--lux-button-login-padding-inline-start);
  padding-inline-end: var(--lux-button-login-padding-inline-end);
  padding-block-start: var(--lux-button-login-padding-block-start);
  padding-block-end: var(--lux-button-login-padding-block-end);
  min-inline-size: var(--lux-button-login-min-inline-size);
  min-block-size: var(--lux-button-login-min-block-size);
  color: var(--lux-button-login-color);
  font-weight: var(--lux-button-login-font-weight);
  font-size: var(--lux-button-login-font-size);
  line-height: var(--lux-button-login-line-height);
  font-family: var(--lux-button-login-font-family);
  user-select: none;
}

/* stylelint-disable-next-line selector-class-pattern, no-descending-specificity */
:host(.force-state--hover) .lux-button-login,
.lux-button-login:hover {
  background-color: var(--lux-button-login-hover-background-color);
}

:host(.force-state--active) .lux-button-login,
.lux-button-login:active {
  border-color: var(--lux-button-login-active-border-color);
  background-color: var(--lux-button-login-active-background);
}

:host(.force-state--focus) .lux-button-login,
.lux-button-login:focus-visible {
  outline-color: var(--lux-focus-outline-color);
  outline-style: var(--lux-focus-outline-style);
  outline-width: var(--lux-focus-outline-width);
  outline-offset: var(--lux-focus-outline-offset);
}

.lux-button-login__label--sr-only {
  @include sr-only;
}

.lux-button-login__logo {
  inline-size: var(--lux-button-login-icon-size);
  block-size: var(--lux-button-login-icon-size);
  line-height: 1;
}
