:root {
  /* Just for an example */
  --lux-checkbox-target-hover-background-color: hsla(0 0% 76% / 19%);
  --lux-checkbox-target-border-radius: 50%;
}

.lux-checkbox:checked:focus {
  border-color: var(--lux-checkbox-checked-focus-border-color);
  background-color: var(--lux-checkbox-checked-focus-background-color);
  color: var(--lux-checkbox-checked-focus-color);
}

.lux-checkbox:checked:hover {
  border-color: var(--lux-checkbox-checked-hover-border-color);
  background-color: var(--lux-checkbox-checked-hover-background-color);
  color: var(--lux-checkbox-checked-hover-color);
}

.lux-checkbox:checked:active {
  border-color: var(--lux-checkbox-checked-active-border-color);
  background-color: var(--lux-checkbox-checked-active-background-color);
  color: var(--lux-checkbox-checked-active-color);
}

.lux-checkbox:checked:disabled {
  border-color: var(--lux-checkbox-checked-disabled-border-color);
  background-color: var(--lux-checkbox-checked-disabled-background-color);
  color: var(--lux-checkbox-checked-disabled-color);
}

.lux-checkbox--disabled {
  cursor: not-allowed;
}

.lux-checkbox--with-target {
  display: inline-grid;
  grid-template-areas: "input";
  place-content: center center;
}

.lux-checkbox--with-target::before,
.lux-checkbox--with-target::after {
  grid-area: input;
  min-inline-size: 44px;
  min-block-size: 44px;
  content: "";
}

.lux-checkbox--with-target:hover::after {
  border-radius: var(--lux-checkbox-target-border-radius);
  background-color: var(--lux-checkbox-target-hover-background-color);
}
