.lux-alert {
  gap: var(--lux-alert-column-gap);
  * {
    color: var(--utrecht-alert-color);
  }

  .lux-alert-container {
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    gap: var(--lux-alert-column-gap);
    
    .lux-alert-cross-icon {
      margin-inline-start: auto;
      min-inline-size: var(--lux-alert-close-button-size);
      min-block-size: var(--lux-alert-close-button-size);
    }
  }
}
