.docs-story {
  background-color: var(--lux-color-background-default);
}

.visual-regression-wrapper {
  display: flex;
  flex-flow: column wrap;
  gap: 16px 32px;
}

.section {
  display: flex;
  flex-direction: column;
  border: solid 1px #a7a7a7;
  background-color: var(--lux-color-background-default);
  padding: 0 !important;
  list-style: none;
}

.section li {
  display: flex;
  justify-content: space-between;
  align-items: start;
  margin: 0;
  padding-inline: 32px;
  padding-block: 24px;
}

.section li + li {
  border-top: solid 1px #a7a7a7;
}

.dt-preview {
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  gap: var(--lux-space-1x, 0.5rem);
}

/* stylelint-disable-next-line selector-class-pattern */
.dt-preview--spacing {
  --dt-border-radius: 0;
  --dt-background-color: var(--lux-color-background-subdued);
}

.dt-preview::before {
  display: inline-block;
  border-width: var(--dt-border-width, 1px);
  border-style: var(--dt-border-style, solid);
  border-color: var(--dt-border-color, var(--lux-color-border-subdued, #a7a7a7));
  border-radius: var(--dt-border-radius, var(--lux-border-radius-circle, 50%));
  background-color: var(--dt-background-color);
  aspect-ratio: 1;
  inline-size: var(--dt-inline-size, 1.25rem);
  content: "";
}
