/* TODO: Replace tokens or fix in Utrecht code */
.lux-select {
  line-height: var(--lux-line-height-body-default);

  &:not([multiple]) {
    background-position: center right var(--utrecht-select-padding-inline-end);
    background-size: var(--lux-size-icon);
  }

  &:focus {
    box-shadow: 0 0 0 var(--lux-border-width-m) var(--lux-color-border-strong);
  }

  &:focus-visible {
    outline-offset: calc(var(--utrecht-focus-outline-offset, revert) + var(--lux-border-width-m));
  }

  &:hover {
    box-shadow: 0 0 0 var(--lux-border-width-m) var(--lux-color-border-strong);
    background-color: var(--lux-color-background-default);
    color: var(--lux-color-foreground-default);
  }
}
