.lux-alert {
  --utrecht-heading-1-color: var(--utrecht-alert-color);
  --utrecht-heading-1-font-size: var(--lux-alert-heading-font-size);
  --utrecht-heading-1-font-family: var(--lux-alert-heading-font-family);
  --utrecht-heading-1-font-weight: var(--lux-alert-heading-font-weight);
  --utrecht-heading-1-line-height: var(--lux-alert-heading-line-height);
  --utrecht-heading-2-color: var(--utrecht-alert-color);
  --utrecht-heading-2-font-size: var(--lux-alert-heading-font-size);
  --utrecht-heading-2-font-family: var(--lux-alert-heading-font-family);
  --utrecht-heading-2-font-weight: var(--lux-alert-heading-font-weight);
  --utrecht-heading-2-line-height: var(--lux-alert-heading-line-height);
  --utrecht-heading-3-color: var(--utrecht-alert-color);
  --utrecht-heading-3-font-size: var(--lux-alert-heading-font-size);
  --utrecht-heading-3-font-family: var(--lux-alert-heading-font-family);
  --utrecht-heading-3-font-weight: var(--lux-alert-heading-font-weight);
  --utrecht-heading-3-line-height: var(--lux-alert-heading-line-height);
  --utrecht-heading-4-color: var(--utrecht-alert-color);
  --utrecht-heading-4-font-size: var(--lux-alert-heading-font-size);
  --utrecht-heading-4-font-family: var(--lux-alert-heading-font-family);
  --utrecht-heading-4-font-weight: var(--lux-alert-heading-font-weight);
  --utrecht-heading-4-line-height: var(--lux-alert-heading-line-height);
  --utrecht-heading-5-color: var(--utrecht-alert-color);
  --utrecht-heading-5-font-size: var(--lux-alert-heading-font-size);
  --utrecht-heading-5-font-family: var(--lux-alert-heading-font-family);
  --utrecht-heading-5-font-weight: var(--lux-alert-heading-font-weight);
  --utrecht-heading-5-line-height: var(--lux-alert-heading-line-height);
  --utrecht-heading-6-color: var(--utrecht-alert-color);
  --utrecht-heading-6-font-size: var(--lux-alert-heading-font-size);
  --utrecht-heading-6-font-family: var(--lux-alert-heading-font-family);
  --utrecht-heading-6-font-weight: var(--lux-alert-heading-font-weight);
  --utrecht-heading-6-line-height: var(--lux-alert-heading-line-height);
  --utrecht-paragraph-color: var(--utrecht-alert-color);
}
