/* stylelint-disable selector-class-pattern */
:root {
  color-scheme: light dark;
}

:root.force-light,
[data-theme="force-light"] {
  /* forces light color-scheme */
  color-scheme: light !important;
}

:root.force-dark,
[data-theme="force-dark"] {
  /* forces dark color-scheme */
  color-scheme: dark !important;
}
