@import "../../styles/sr-only";

:host {
  display: contents;
  appearance: button;
}

:host([hidden]) {
  display: none !important;
}

.lux-login-link {
  display: flex;
  column-gap: var(--lux-login-link-column-gap);
  justify-content: flex-start;
  align-items: center;
  appearance: button;
  margin-inline: 0;
  margin-block: 0;
  border-width: var(--lux-login-link-border-width);
  border-style: var(--lux-login-link-border-style);
  border-color: var(--lux-login-link-border-color);
  border-radius: var(--lux-login-link-border-radius);
  background-color: var(--lux-login-link-background-color);
  padding-inline-start: var(--lux-login-link-padding-inline-start);
  padding-inline-end: var(--lux-login-link-padding-inline-end);
  padding-block-start: var(--lux-login-link-padding-block-start);
  padding-block-end: var(--lux-login-link-padding-block-end);
  min-inline-size: var(--lux-login-link-min-inline-size);
  min-block-size: var(--lux-login-link-min-block-size);
  color: var(--lux-login-link-color);
  font-weight: var(--lux-login-link-font-weight);
  font-size: var(--lux-login-link-font-size);
  line-height: var(--lux-login-link-line-height);
  font-family: var(--lux-login-link-font-family);
  user-select: none;
}

:host(.force-state--hover) .lux-login-link,
.lux-login-link:hover {
  background-color: var(--lux-login-link-hover-background-color);
}

:host(.force-state--active) .lux-login-link,
.lux-login-link:active {
  border-color: var(--lux-login-link-active-border-color);
  background-color: var(--lux-login-link-active-background-color);
}

:host(.force-state--focus) .lux-login-link,
.lux-login-link:focus-visible {
  outline-color: var(--lux-color-focus-outline);
  outline-style: var(--lux-focus-outline-style);
  outline-width: var(--lux-focus-outline-width);
  outline-offset: var(--lux-focus-outline-offset);
}

.lux-login-link__label--sr-only {
  @include sr-only;
}

.lux-login-link__logo {
  inline-size: var(--lux-login-link-icon-size);
  block-size: var(--lux-login-link-icon-size);
  line-height: 1;
}
